$backgroundColor: #d5c6ad;
$backgroundColor1: #f0f7ef;
$secondaryBackgroundColor: #15160e;
$secondaryBackgroundColor1: darken(#18391f, 10%);
$textColor: #302e2a;
$textColor1: #18391f;
$darkGreen: #303c2d;
